<!DOCTYPE html>
<html>
    <head>
        <title>Home Screen</title>
    </head>
    <style>
        h1{text-align:left;}
    </style>

    <body>
        <h1> Admin Home </h1>

        
        <dib>
            <input type="submit" value="Create Item"/>

            <input type="submit" value="Create Drones"/>

            <input type="submit" value="View Customer Info"/>
        </dib>
        <div>
            
        </div>

        <dib>
            <input type="submit" value="Create Grocery Chain"/>

            <input type="submit" value="Create Stores"/>
        </dib>

    </body>





</html>