<!DOCTYPE html>
<html>
    <head>
        <title>Home Screen</title>
    </head>
    <style>
        h1{text-align:left;}
    </style>

    <body>
        <h1> Chain Manager Home </h1>

        
        <dib>
            <input type="submit" value="View Drone Technicians"/>

            <input type="submit" value="View Drones"/>
        </dib>
        <div>
            
        </div>

        <dib>
            <input type="submit" value="Create Chain Item"/>

            <input type="submit" value="Manager Stores"/>
        </dib>

    </body>





</html>