<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<!-- body-->
<body>
    <h1> Login</h1>

    <form action="/create_store_back" method="POST">
        <div>
            <label for="Username">Username:</label>
            <input type="text" name="Username" id="Username" placeholder="username1" required/>
        </div>

        <div>
            <label for = "Password">Password</label>
            <input type="text" name = "password" id="password" placeholder="********" required/>
            
        </div>

        <div>
            <input type="submit" value="Create"/>

            <input type="submit" value="Register"/>
        </div>
    </form>


</body>


</html>