<!DOCTYPE html>
<html>
<head>
    <title> Chain Manager View Drone Technicians</title>
</head>
<style>
    h1 {
        text-align: left;
    }
</style>

<body>
<h1> Chain Manager View Drone Technicians </h1>




<form>
    <div>
        <label for="Chain">Chain:</label>
        <input type="text" name="Chain" id="Chain" placeholder="Moss Market" required/>
    </div>
</form>



<form>
    <div>
        <label for="Username">Username:</label>
        <input type="text" name="Username" id="Username" required/>
    </div>
</form>


<form>
    <div>
        <label for="location">location:</label>
        <select name="location" id="location">
            <option value="NULL" selected disabled> NULL </option>
        </select>
    </div>
</form>


<div>
    <h2 style="color: red;">{{Database Show}}</h2>
</div>



<form action="/s9_ChainManager_CreateChainItem.html">
    <input type="submit" value="Back" />
</form>




<form>
    <input type="submit" value="Reset"/>
</form>



<form>
    <input type="submit" value="Save"/>
</form>



</body>


</html>