<!DOCTYPE html>
<html>

<head>
    <title> Chain Manager View Drones </title>
</head>
<style>
    h1 {
        text-align: left;
    }
</style>

<body>
    <h1> Chain Manager View Drones </h1>




    <form action="/s11_view_drone" method="POST">
        <div>
            <label for="Drone ID">Drone ID:</label>
            <input type="text" name="drone_id" id="Drone ID" pattern="[0-9]+" oninput="value=value.replace(/[^\d]/g,'')" {% if id %}value={{id}}
            {% endif %}/>

            <label for="Radius">Radius:</label>
            <input type="text" name="radius" id="Radius" pattern="[0-9]+" oninput="value=value.replace(/[^\d]/g,'')" {% if r %}value={{r}}
            {% endif %}/>

            <input type="submit" value="Filter" />
        </div>
    </form>

    {% if result %}
    <table style="width:600px; text-align: left;border-spacing: 5px;">
        <tr>
            <th>Drone ID</th>
            <th>Operator</th>
            <th>Radius</th>
            <th>Zip Code</th>
            <th>Status</th>
        </tr>
        {% for row in result %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="/s11_view_drone" method="GET">
        <input type="submit" value="Reset" />
    </form>



    <form action="/s3_home_manager" method="GET">
        <input type="submit" value="Back" />
    </form>

    <script>
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
    
        const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
    
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => table.appendChild(tr));
        })));
    </script>

</body>


</html>