<!DOCTYPE html>
<html>
<head>
    <title> Chaiin Mamager View Drones </title>
</head>
<style>
    h1 {
        text-align: left;
    }
</style>

<body>
<h1> Chaiin Mamager View Drones </h1>




<form>
    <div>
        <label for="Drone ID"> Drone ID:</label>
        <input type="text" name="Drone ID" id="Drone ID" required/>
    </div>
</form>



<form>
    <div>
        <label for="Radius">Radius:</label>
        <input type="text" name="Radius" id="Radius" required/>
    </div>
</form>



<form>
    <input type="submit" value="Filter"/>
</form>


<div>
    <h2 style="color: red;">{{Database Show}}</h2>
</div>





<form action="/s10_ChainManager_VewDroneTechnicians.html">
    <input type="submit" value="Back" />
</form>




<form>
    <input type="submit" value="Reset"/>
</form>




</body>


</html>