<!DOCTYPE html>
<html>
<head>
    <title> Change Credit And Inofrmation</title>
</head>
<style>
    h1 {
        text-align: left;
    }
</style>

<body>
<h1> Change Credit And Inofrmation </h1>




<form>
    <div>
        <label for="Username:">Username:</label>
        <input type="text" name="Username" id="Username" placeholder="SpaceCowboy" required/>
    </div>
</form>


<form>
    <div>
        <label for="First Name:">First Name:</label>
        <input type="text" name="First Name" id="First Name" placeholder="Spike" required/>
    </div>
</form>

<form>
    <div>
        <label for="Last Name:">Last Name:</label>
        <input type="text" name="Last Name" id="Last Name" placeholder="Spiegal" required/>
    </div>
</form>

<form>
    <div>
        <label for="Credit Card Number:">Credit Card Number</label>
        <input type="text" name="Credit Card Number" id="Credit Card Number" placeholder="xxx xxx xxx xxx" required/>
    </div>
</form>


<form>
    <div>
        <label for="Security Code:">Security Code</label>
        <input type="text" name="Security Code" id="Security Code" placeholder="xxx" required/>
    </div>
</form>



<form>
    <div>
        <label for="Expiration Date:">Expiration Date</label>
        <input type="text" name="Expiration Date" id="Expiration Date" placeholder="1/24/2023" required/>
    </div>
</form>




<form action="/s12_ChainManager_ManageStores.html">
    <input type="submit" value="Back" />
</form>




<form>
    <input type="submit" value="Approve"/>
</form>


</body>


</html>