<!DOCTYPE html>
<html>
<head>
    <title> Customer view Order History </title>
</head>
<style>
    h1 {
        text-align: left;
    }
</style>

<body>
<h1> Customer view Order History  </h1>




<form>
    <div>
        <label for="Username">Username:</label>
        <input type="text" name="Username" id="Username" placeholder="SpaceCowboy" required/>
    </div>
</form>






<form>
    <div>
        <label for="Order ID"> Order ID:</label>
        <select name="Order ID" id="Order ID">
            <option value="42" selected disabled> 42 </option>
        </select>
    </div>
</form>


<form>
    <div>
        <label for="Total Amount">Total Amount:</label>
        <input type="text" name="Total Amount" id="Total Amount" placeholder="$54.53" required/>
    </div>
</form>

<form>
    <div>
        <label for="Total Items">Total Items:</label>
        <input type="text" name="Total Items" id="Total Items" placeholder="10" required/>
    </div>
</form>

<form>
    <div>
        <label for="Date Of Purchase">Date Of Purchase:</label>
        <input type="text" name="Date Of Purchase" id="Date Of Purchase" placeholder="3/17/2020" required/>
    </div>
</form>

<form>
    <div>
        <label for="Drone ID">Drone ID:</label>
        <input type="text" name="Drone ID" id="Drone ID" placeholder="56" required/>
    </div>
</form>


<form>
    <div>
        <label for="Store Associate">Store Associate:</label>
        <input type="text" name="Store Associate" id="Store Associate" placeholder="Chandler Bing" required/>
    </div>
</form>


<form>
    <div>
        <label for="Status">Status:</label>
        <input type="text" name="Status" id="Status" placeholder="Delivered" required/>
    </div>
</form>


<form action="/s13_Customer_changeCreditCardInformation.html">
    <input type="submit" value="Back" />
</form>






</body>


</html>