<!DOCTYPE html>
<html>
<head>
    <title> Customer Review Order </title>
</head>
<style>
    h1 {
        text-align: left;
    }
</style>

<body>
<h1> Customer Review Order </h1>


<label for="Chain">Chain:</label>
<input type="text" name="Chain" id="Chain" value={{ chain }} disabled/>

<label for="Store">Store:</label>
<input type="text" name="Store" id="Store" value={{ store }} disabled/>

<form id="update" action="/s16_place_order" method="POST">
    <table style="text-align: left;">
        <tr>
            <th style="width:200px">Items</th>
            <th style="width:200px">Quantity</th>
            <th style="width:200px">Unit Cost</th>
        </tr>

        {% for i in items %}
            <tr>

                <td>
                    {{ i[0] }}
                    <input type="hidden" name="item" id="item" value={{ i[0] }}>
                </td>
                <td>
                    <label for="update">Status:</label>
                    <select name="update" id="update">
                        {% for num in range( i[2]|int ) %}
                            {% if num == i[1]|int %}
                                <option value="{{ num }}" selected>{{ num }}</option>
                            {% else %}
                                <option value="{{ num }}">{{ num }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>

                </td>

                <td>{{ i[3] }}</td>

            </tr>

        {% endfor %}

    </table>
</form>


<form action="/s3_home_customer">
    <input type="submit" value="Back"/>

    <input type="submit" value="Place Order" form="update"/>
</form>


</body>


</html>