<!DOCTYPE html>
<html>
<head>
    <title> Customer Review Order </title>
</head>
<script src="/static/jquery.js"></script>
<style>
    h1 {
        text-align: left;
    }
</style>

<body>
<h1> Customer Review Order </h1>


<label for="Chain">Chain:</label>
<input type="text" name="Chain" id="Chain" value={{ chain }} disabled/>

<label for="Store">Store:</label>
<input type="text" name="Store" id="Store" value={{ store }} disabled/>

<form id="update" action="/s16_place_order" method="POST">
    <table id = "table" style="text-align: left;">
        <tr>
            <th style="width:200px">Items</th>
            <th style="width:200px">Quantity</th>
            <th style="width:200px">Unit Cost</th>
        </tr>

        {% for i in items %}
            <tr>

                <td>
                    {{ i[0] }}
                    <input type="hidden" name="item" id="item" value="{{ i[0] }}">
                </td>
                <td id = "quantity {{ i[0] }}">
                    <label for="update"></label>
                    <select name="update" id="update {{ i[0] }}">
                        {% for num in range( (i[2]|int)+1 ) %}
                            {% if num == i[1]|int %}
                                <option value="{{ num }}" selected>{{ num }}</option>
                            {% else %}
                                <option value="{{ num }}">{{ num }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>

                </td>

                <td>{{ i[3] }}</td>

            </tr>

        {% endfor %}

    </table>
	<input type="submit" value="Place Order" form="update"/>
</form>
<script charset="utf-8" type="text/javascript">
	var items = JSON.parse('{{ items|tojson|safe }}'); 
	function gettotal() {
		var total = 0;
		var row = document.getElementById("Total");
		if (row !== null){
			row.parentNode.removeChild(row);};
		
		for (i in items){
			var s1 = items[i][0];
			var s2 = "update "
			var new_id = s2.concat(s1);
			var q = document.getElementById(new_id).value
			total = total + q * parseFloat(items[i][3]);
		};
		var t = document.createElement("tr");
		var d1 = document.createElement("td");
		var d2 = document.createElement("td");
		var Text = document.createTextNode("Total: "+total.toFixed(2));
		t.id = "Total";
		t.style.fontWeight = "900";
		t.appendChild(Text);
		table = document.getElementById("table").appendChild(t)
		};
	gettotal();
	console.log(items)
	for (i in items){
		var s1 = items[i][0];
		var s2 = "quantity "
		var new_id = s2.concat(s1);
		document.getElementById(new_id).addEventListener("change", function() {gettotal();});
		};
	
</script>

<form action="/s3_home_customer">
    <input type="submit" value="Back"/>
</form>


</body>


</html>