<!DOCTYPE html>
<html>
<head>
    <title> Order Details </title>
</head>
<style>
    h1 {
        text-align: left;
    }
</style>

<body>
<h1> Order Details </h1>


<table>
    {% for k,v in detail.items() %}
        <tr>
            {% if v =="None" %}
                <th align="left" width="200px">{{ k }}</th>
                <td>N/A</td>
            {% else %}
                <th align="left" width="200px">{{ k }}</th>
                <td>{{ v }}</td>
            {% endif %}
        </tr>
    {% endfor %}

</table>

<br/><br/>

Items:
<table>
    <tr>
        <th>Item</th>
        <th>Count</th>
    </tr>

    {% for k,v in items.items() %}
        <tr>

            <td align="left" width="200px">{{ k }}</td>
            <td>{{ v }}</td>

        </tr>
    {% endfor %}

</table>


<form action="/s17_tech_vieworders">
    <input type="submit" value="Back"/>
</form>


</body>


</html>