<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<!-- body-->
<body>
<h1> Login</h1>

<div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <h2 style="color: red;">{{ message }}</h2>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
</div>

<form action="/s1_login_back" id="login" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" placeholder="username" required/>
    <br/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="********" required/>
</form>

<br/>
<form action="/s1_login_back">
    <input type="submit" value="Login" form="login"/>
</form>

<form action="/s2_register">
    <input type="submit" value="Register"/>

</form>


<br/>
<br/><br/>
<br/>
<form action="/initial">
    Just for Developer:
    <input type="submit" value="Initialize the whole database"/>
</form>

</body>


</html>