<!DOCTYPE html>
<html>

<head>
    <title>Home Screen</title>
</head>
<style>
    h1 {
        text-align: left;
    }
</style>

<body>
    <h1> Chain Manager Home </h1>


    <div>
        <input type="submit" value="View Drone Technicians" />
    </div>

    <div>
        <form action="/s11_view_drone" method="GET">
            <input type="submit" value="View Drones" />
        </form>
    </div>

    <div>
        <form action="s9_create_chainitem">
            <input type="submit" value="Create Chain Item" />
        </form>
    </div>

    <div>
        <form action="/s12_manage_store" method="GET">
            <input type="submit" value="Manager Stores" />
        </form>
    </div>

    <div>
        <a href="/"> Logout </a>
    </div>

</body>


</html>