<!DOCTYPE html>
<html>

<head>
    <title>Home Screen</title>
</head>
<style>
    h1 {
        text-align: left;
    }
</style>

<body>
<h1> Customer Home</h1>
<div>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <h2 style="color: red;">{{message}}</h2>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
</div>

<div>
    <form action="/s13_change_card" method="GET">
        <input type="submit" value="Change Credit Card Info"/>
    </form>

    <form action="/s16_review_order" method="GET">
        <input type="submit" value="Review Order"/>
    </form>
</div>

<div>
    <form action="/s14_view_orderhistory" method="GET">
        <input type="submit" value="View Order History"/>
    </form>
	<form action="/s15_view_storeitems" method="GET">
		<input type="submit" value="View Store Items"/>
	</form>
</div>

</body>


<div>
    <a href="/"> Logout </a>
</div>


</html>