<!DOCTYPE html>
<html>

<head>
    <title>Home Screen</title>
</head>
<style>
    h1 {
        text-align: left;
    }
</style>

<body>
    <h1> Customer Home</h1>


    <div>
        <form action="/s13_change_card" method="GET">
            <input type="submit" value="Change Credit Card Info" />
        </form>


        <input type="submit" value="Review Order" />
    </div>
    <div>

    </div>

    <div>
        <input type="submit" value="View Order History" />

        <input type="submit" value="View Store Items" />
    </div>

</body>


<div>
    <a href="/"> Logout </a>
</div>


</html>