<!DOCTYPE html>
<html>
    <head>
        <title>Home Screen</title>
    </head>
    <style>
        h1{text-align:left;}
    </style>

    <body>
        <h1> Customer Home</h1>

        
        <dib>
            <input type="submit" value="Change Credit Card Info"/>

            <input type="submit" value="Review Order"/>
        </dib>
        <div>
            
        </div>

        <dib>
            <input type="submit" value="View Order History"/>

            <input type="submit" value="View Store Items"/>
        </dib>

    </body>





</html>