<!DOCTYPE html>
<html>
<head>
    <title>Home Screen</title>
</head>
<style>
    h1 {
        text-align: left;
    }
</style>

<body>
<h1> Chain Manager Home </h1>


<div>
    <input type="submit" value="View Drone Technicians"/>

    <input type="submit" value="View Drones"/>
</div>
<div>

</div>

<div>
    <form action="s9_create_chainitem">
        <input type="submit" value="Create Chain Item"/>
    </form>
    <input type="submit" value="Manager Stores"/>
</div>

<div>
    <a href="/"> Logout </a>
</div>

</body>


</html>