<!DOCTYPE html>
<html>

<head>
    <title>Admin|Create New Store</title>
</head>

<body>

<h1>Admin Create New Store</h1>
<div>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <h2 style="color: red;">{{message}}</h2>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
</div>


<form action="/s5_create_store" method="POST">
    <div>
        <label for="chain-name">Affiliated Grocery Chain:</label>
        <select name="chain-name" id="chain-name" required>
            {% for item in data %}
                <option value="{{item}}">{{item}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="store-name">Grocery Store Location Name:</label>
        <input type="text" name="store-name" id="store-name" placeholder="Midtown" required/>
    </div>

    <div>
        <label for="street">Street:</label>
        <input type="text" name="street" id="street" placeholder="street" required/>
    </div>

    <div>
        <label for="city">City:</label>
        <input type="text" name="city" id="city"  placeholder="Atlanta" required>

        <label for="state">State:</label>
        <select name="state" id="state" required>
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AZ">AZ</option>
            <option value="AR">AR</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DE">DE</option>
            <option value="DC">DC</option>
            <option value="FL">FL</option>
            <option value="GA">GA</option>
            <option value="HI">HI</option>
            <option value="ID">ID</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="IA">IA</option>
            <option value="KS">KS</option>
            <option value="KY">KY</option>
            <option value="LA">LA</option>
            <option value="ME">ME</option>
            <option value="MD">MD</option>
            <option value="MA">MA</option>
            <option value="MI">MI</option>
            <option value="MN">MN</option>
            <option value="MS">MS</option>
            <option value="MO">MO</option>
            <option value="MT">MT</option>
            <option value="NE">NE</option>
            <option value="NV">NV</option>
            <option value="NH">NH</option>
            <option value="NJ">NJ</option>
            <option value="NM">NM</option>
            <option value="NY">NY</option>
            <option value="NC">NC</option>
            <option value="ND">ND</option>
            <option value="OH">OH</option>
            <option value="OK">OK</option>
            <option value="OR">OR</option>
            <option value="PA">PA</option>
            <option value="RI">RI</option>
            <option value="SC">SC</option>
            <option value="SD">SD</option>
            <option value="TN">TN</option>
            <option value="TX">TX</option>
            <option value="UT">UT</option>
            <option value="VT">VT</option>
            <option value="VA">VA</option>
            <option value="WA">WA</option>
            <option value="WV">WV</option>
            <option value="WI">WI</option>
            <option value="WY">WY</option>

            <label for="zip">ZIP:</label>
            <input type="text" name="zip" id="zip" placeholder="30332" required pattern="[0-9]{5}" maxlength="5" minlength="4">
        </select>
    </div>

    <div>
        <input type="submit" value="Create"/>
    </div>
</form>
<div>
    <a href="/s3_home_admin"> Back </a>
</div>
</body>

</html>