<!DOCTYPE html>
<html>

<head>
    <title>Admin Create Drone</title>
</head>

<script src="/static/jquery.js"></script>

<body>

<h1>Admin Create Drone</h1>


<form action="/s6_create_drone_back" id="drone-info" method="POST">

    <div>
        <label for="drone-id">Drone ID</label>
        <input type="text" name="drone-id" id="drone-id" value={{ id }} readonly/>
    </div>
    <div>
        <label for="zipcode">Affiliated Grocery Code:</label>
        <select name="zipcode" id="zipcode">
            <option value="0" selected disabled>zipcode</option>
            {% for zip in ziplist %}
                <option value="{{ zip }}">{{ zip }}</option>
            {% endfor %}

        </select>
    </div>
    <div>
        <label for="radius"> Travel Radius:</label>
        <input type="text" name="radius" id="radius" required/>
    </div>


    <div>
        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="0" selected disabled>Available</option>

        </select>
    </div>

    <div>
        <label for="tech">Store Associate:</label>
        <select name="tech" id="tech">
            <option value="0" selected disabled>Employee</option>
        </select>

    </div>
</form>

<script charset="utf-8" type="text/javascript">
    $(function () {

        var dropdown = {
            ziplist: $('#zipcode'),
            employee: $('#tech')
        };
        console.log(dropdown);

        // function to call XHR and update goodsrec dropdown
        function getemployee() {
            var zip = dropdown.ziplist.val();
            dropdown.ziplist.attr('disabled');
            console.log(zipcode);

            if (zip !== "zipcode") {
                dropdown.employee.empty().append(
                    $('<option>', {
                        value: "0",
                        text: "Employee",
                        disabled: "disabled"
                    })
                );

                $.post("{{ url_for('backend_api.s6_front_helper2') }}", {ziplist: zip}, function (data) {
                    console.log(data);
                    data.forEach(function (item) {
                        dropdown.employee.append(
                            $('<option>', {
                                value: item.username,
                                text: item.username
                            })
                        );
                    });
                    dropdown.employee.removeAttr('disabled');
                });
            }
        }

        // event listener to customer dropdown change
        dropdown.ziplist.on('change', function () {
            console.log(dropdown);
            getemployee();
        });

    });
</script>


<form action="/s3_home_admin">
    <input type="submit" value="Back"/>
    <input type="submit" form = "drone-info" value="Create"/>
</form>
</body>

</html>