<!DOCTYPE html>
<html>
<head>
    <title>Admin Create Item</title>
</head>
<style>
    h1 {
        text-align: left;
    }
</style>

<body>
<h1> Admin Create Item </h1>

<div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <h2 style="color: red;">{{ message }}</h2>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
</div>


<form>

</form>

<form action="/s7_create_item" method="POST">
    <div>
        <label for="Name">Name:</label>
        <input type="text" name="Name" id="Name" placeholder="Navel Orange" required/>
    </div>
    <div>
        <label for="Type">Type:</label>
        <select name="Type" id="Type">
            <option value="Dairy">Dairy</option>
            <option value="Bakery">Bakery</option>
            <option value="Meat">Meat</option>
            <option value="Produce">Produce</option>
            <option value="Personal Care">Personal Care</option>
            <option value="Paper Goods">Paper Goods</option>
            <option value="Beverages">Beverages</option>
            <option value="Other">Other</option>
            <!--             {% for item in data %}
                <option value="{{item}}">{{item}}</option>
            {% endfor %} -->
        </select>
    </div>
    <div>
        <label for="Organic">Organic:</label>
        <select name="Organic" id="Organic">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <!-- {% for item in data %} -->
                <!-- {% endfor %} -->
        </select>
    </div>
    <div>
        <label for="Origin">Origin:</label>
        <input type="text" name="Origin" id="Origin" placeholder="California" required/>
    </div>
    <input type="submit" value="Create"/>
</form>

<form action="/s3_home_admin" method="GET">
    <input type="submit" value="Back"/>
</form>
</body>


</html>