<!DOCTYPE html>
<html>

<head>
    <title>Admin Create Drone</title>
</head>

<body>

<h1>Admin Create Drone</h1>



<form action="/Admin Create Drone" method="POST">
    
    <div>
        <label for="Drone ID">Drone ID:</label>
        <input type="text" name="Drone ID" id="Drone ID" placeholder="156" required/>
    </div>
    <div>
        <label for="Affiliated Grocery Code">Affiliated Grocery Code:</label>
        <select name="Affiliated Grocery Code" id="Affiliated Grocery Code">
            <option value="0" selected disabled>30087</option>
            {% for item in data %}
                <option value="{{item}}">{{zips}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="Travel Radius"> Travel Radius:</label>
        <input type="text" name="Travel Radius" id="Travel Radius"  required/>
    </div>


    <div>
        <label for="Status">Status:</label>
        <select name="Status" id="Status">
            <option value="0" selected disabled>Available</option>
        
        </select>
    </div>

    <div>
        <label for="Store Associate">Store Associate:</label>
        <select name="Store Associate" id="Store Associate">
            <option value="0" selected disabled>Employee2</option>
            {% for item in data %}
                <option value="{{Other employee}}">{{emplyee}}</option>
            {% endfor %}
        </select>

    </div>

    <dib>
        <input type="submit" value="Back"/>
        <input type="submit" value="Create"/>
    </dib>
</body>

</html>