<!DOCTYPE html>
<html>
    <head>
        <title>Home Screen</title>
    </head>
    <style>
        h1{text-align:left;}
    </style>

    <body>
        <h1> Admin Create Grocery Chain </h1>

        <div>
            <label for="Admin">Grocery Chain name:</label>
            <input type="text" name="Grocery Chain name" id="Grocery Chain name" placeholder="Moss Market" required/>
        </div>

        <dib>
            <input type="submit" value="Back"/>
            <input type="submit" value="Create"/>
        </dib>

        

    </body>





</html>